var mate = function(val) {
  if (val <= 0) {return [0]}
  var arr = [];
  while (val > 0) {
    arr.push(val % 10)
    val = parseInt(val/10) 
  }
  return arr.reverse()
}

var format = function(val) {
  switch (val) {
    case 1: return '一'; break;
    case 2: return '二'; break;
    case 3: return '三'; break;
    case 4: return '四'; break;
    case 5: return '五'; break;
    case 6: return '六'; break;
    case 7: return '七'; break;
    case 8: return '八'; break;
    case 9: return '九'; break;
    case 10: return '十'; break;
  }
}

module.exports = {
  numberarray: mate,
  numberformat: format
}